<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <i class="material-icons left">beach_access</i>
      Summer days</a>

    <ul class="right hide-on-med-and-down">

      <li><a href="/cita"><i class="material-icons left">search</i>Citas</a></li>
      <li><a routerLink="/empleado"><i class="material-icons left">wb_sunny</i>empleados</a></li>
      <li><a routerLink="/formulario"><i class="material-icons left">local_printshop</i>formulario</a></li>
      <li><a routerLink="/delete-user">Borrar</a></li>
      <li><a routerLink="/get-user">Obtener</a></li>
    </ul>
  </div>

  <!-- <div class="centrado">
    <img src="../assets/img2.jpg" alt="" width="800" height="500">
  </div> -->
</nav>

<router-outlet></router-outlet>

<div>
</div>